meta( charset="utf-8" )
meta( http-equiv="X-UA-Compatible", content="IE=edge" )
meta( name="viewport", content="width=device-width, initial-scale=1" )
link( href="/static/bootstrap/css/bootstrap.min.css", rel="stylesheet" )
link( href="/static/css/style.css", rel="stylesheet" )
link( href="/static/css/simplex.css", rel="stylesheet" )
link( rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" )
script( type="text/javascript", src="/static/jquery-2.1.3.min.js" )
script( type="text/javascript", src="/static/socket.io-1.3.3.js" )
script( type="text/javascript", src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDnVwY_nacG6nHywHWHsvEvZUOnMv6YCO0&sensor=true" )
script( type="text/javascript", src="/static/js/tooltip.js")
script( type="text/javascript", src="/static/js/truckmap.js" )
script( type="text/javascript", src="http://code.highcharts.com/highcharts.js" )
script( type="text/javascript", src="http://code.highcharts.com/highcharts-more.js" )
script( type="text/javascript", src="http://code.highcharts.com/modules/solid-gauge.js" )
script( type="text/javascript", src="http://code.highcharts.com/modules/modules/exporting.js" )
script( type="text/javascript", src="/static/js/gauge.js" )
script( type="text/javascript", src="/static/js/charts.js" )
