include mixins
doctype html
html( lang="ko" )
  head
    title="Truck Manager"
    include head
  body( onload="initialize()" )
    div.container
      include navigation
      div.row
        div.col-md-4
          div.row
            div.col-xs-12
              +panel("<i class=\"fa fa-truck\"></i> Truck Map", "default", true)
                div(style="width:100% height:100%").map_canvas#map_canvas
            div.col-xs-12
              +panel("Selected trucks information") 
                div.selected_trucks#selected_trucks No trucks selected

        div.col-md-8
          div.row
            div.col-xs-12#info-area
            div.col-xs-12
              +panel("<i class=\"fa fa-plug\"></i> Battery Status")
                div.battery-gauge-frame
                  div.battery-bar#battery-bar
                    img.battery-icon(src="/static/images/battery.png")
                p.battery-description <span id="bat-current">0</span>kWh (<span id="bat-percent">0</span>% - Capacity: <span id="bat-capacity">0</span>kWh)
            div.col-xs-12
              div.row
                div.col-md-6
                  +panel("<i class=\"fa fa-sign-in\"></i> Generation in Realtime", "success")
                    div#container-generation(style="height:200px; width: 100%;")
                div.col-md-6
                  +panel("<i class=\"fa fa-sign-out\"></i> Comsumption in Realtime", "warning")
                    div#container-consumption(style="height:200px; width: 100%;")
            div.col-xs-12
              +panel("<i class=\"fa fa-area-chart\"></i> Usage Records")
                div#record-container(style="width:100% height: 400px; margin: 0 auto")
    include foot
